<table class="table" data-testid="environmentReadingsTable">
  <thead>
    <tr>
      <th>Time</th>
      <th>ID</th>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody data-testid="readingsTableRows">
    <%= render environment_readings %>
  </tbody>
</table>
